# Copy this file to .env.backend and update values before first run.

# Django
DEBUG=1
SECRET_KEY=replace-with-a-long-random-secret
ALLOWED_HOSTS=localhost,127.0.0.1,192.168.1.105,192.168.1.104
AUTH_COOKIE_SECURE=0
AUTH_COOKIE_SAMESITE=Lax
CORS_ALLOW_ALL_ORIGINS=0
CAMERA_CREDENTIALS_KEY=

# Postgres
DB_NAME=frsys
DB_USER=frsys
DB_PASSWORD=frsys_password

# Host directory on PC1 that contains person photos for model indexing
# Example Windows path for Docker Desktop: C:/FR_DATA/face_photos
FACE_PHOTO_DIR=./face_photos
